{% extends 'base.html' %}

{% block content %}

<form action="#" method="POST">
    <h2>Enter molecule in SMILES format:</h2>
    <p> <input type="text" name="smiles" required/> </p>
    <p> <button type="submit" value="smiles">submit</button> </p>
</form>

<br>
<br>

<h2>Enter CSV file (containing TWO (2) columns):</h2>
<form action="/" method="POST" enctype="multipart/form-data">
    <div id="drop-area">
        <p><strong>Drag and drop your file here:</strong></p>
        <input type="file" id="fileElem" name="file" accept=".csv" onchange="this.form.submit()">
    </div>
</form>

{% endblock %}